body{
    background:#F4F4F4;
    font-family: 'Roboto', sans-serif;    
    margin:0px;
    width:100vw;
    color:rgb(3, 3, 3);
    overflow-x: hidden;
}

a{
    color:#030303;
}

h1{
    margin-bottom: 0px;
    margin-top:0px;
    font-size:60px;
    font-weight: 900;
}

h2{
    font-size:40px;
}

h3{
    font-size:22px;
}

.info-header p{
    font-size:20px;
}

.container{
    height:100vh;
    width:100vw;
    display:flex;
}

.info-section{
    flex:2;
    position: relative;
    padding:100px;
}

.info-sample{
    margin-top:60px;
}

.code{
    background:#4F4F4F;
    display:inline-block;
    padding:10px 30px;
    color:white;
    border-radius: 4px;
}

.brand-section{
    flex:2;
    background:url('../img/waves.png');
    background-repeat: no-repeat;
    background-size:cover;
    flex-direction: column;
    display:flex;
    color:white;
    justify-content: center;
    align-items: center;
    position: relative;
}

.brand-section p{
    margin-top:30px;
    font-size:18px;
}

.brand-section a{
    color:white;
}

.photo-credit{
    position: absolute;
    bottom:10px;
    text-align: center;
    right:0;
    left:0;
    font-size:12px;
    margin:0px 40px;
    padding:20px 20px;
    color:#C9C9C9;
    border-top:1px solid #C9C9C9;
}

.photographer-credit{
    color:white;
    position: absolute;
    bottom:30px;
    left:0;
    right:0;
    text-align: center;
}

@media (max-height: 900px) {
    .info-section{
        padding-top:40px;
    }

    h1{
        font-size:50px;
    }

    h2{
        font-size:28px;
    }

    .info-sample{
        margin-top:30px;
    }

    .info-header p{
        font-size:16px;
    }
}    

@media (max-width: 1200px) {
    .container{
        flex-direction: column;
        display: block;
    }
    
    .brand-section{
        height:100vh;
    }

    .info-section{
        padding:40px;
        padding-bottom: 60px;
    }

    h1{
        font-size:40px;
    }

    .photo-credit{
        display:none;
    }
    
}    

@media (max-width: 500px) {
    .code{
        font-size:10px;
        padding:4px 10px;
    }
}    